<!--header-->

<html>
	{% if not(app.session.isStarted()) %}
		app.session.start()
	{% endif %}
	<head>
	<link rel="stylesheet" href="css/lib/bootstrap-3.3.7/dist/css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" type="text/css" href="css/3.3.2.bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/jquery.dataTables.css">
	<link rel="stylesheet" type="text/css" href="css/toastr.min.css">
	<link rel="stylesheet" href="css/main.css" type="text/css">
	<script type = "text/javascript" src = "js/3.1.0.jquery.min.js"></script>
	<script type = "text/javascript" src = "js/logInValidation.js"></script>
	<script type = "text/javascript" src = "js/dropdownMenu.js"></script>
	<script type="text/javascript" src="js/formValidation.js"></script>
	<script type="text/javascript" charset="utf8" language="javascript" src="js/DataTables-1.10.7.jquery.js"></script>
	<script type="text/javascript" charset="utf8" language="javascript" src="js/jquery-3.3.1.js"></script>
	<script type="text/javascript" language="javascript" src="js/jquery.dataTables.js"></script>
	{% if (app.session.get('title') == 'List of applications') %} 
	<script type="text/javascript" language="javascript" src="js/interviewFilter.js"></script>
	{% endif %} 
	<script type = "text/javascript" src = "js/signupValidation.js"></script>
	<script type="text/javascript" src="js/jscript.js"></script>
	<script type = "text/javascript" src = "js/editApplicantValidation.js"></script>
	<script type = "text/javascript" src = "js/editUserValidation.js"></script>
	<script type = "text/javascript" src = "js/editMyProfileValidation.js"></script>
	<script type = "text/javascript" src = "js/enterListener.js"></script>
	{% if (app.session.get('title') == 'List of Users') %} 
	<script type = "text/javascript" src = "js/userlistTable.js"></script>
	{% endif %} 
	<script type = "text/javascript" src = "js/toastr.min.js"></script>
	<script type = "text/javascript" src = "js/toastr.js"></script>
	<script type = "text/javascript" src = "js/ajaxApplicantView.js"></script>
	<script type = "text/javascript" src = "js/ajaxApplicantEdit.js"></script>
	<script type = "text/javascript" src = "js/ajaxUserEdit.js"></script>
	<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' type='text/javascript'></script>
	
	<!--<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
	<link rel="stylesheet" href="css/datatables/datatables.css">-->
	
	{# <title>{{app.session.get('title')}}</title> #}
	</head>
	<body  class = "backphoto">
		<div class = "header-nav width100">
			<ul class="text-center left-align width100">
			
				{% if not (app.session.get('logged') is defined) %}
					{% if (app.session.get('title') == 'USER') %}
						<li><a class= "left-align logo-img disappearing-logo transparentbackground paddingleft16px width100" href="https://www.systech.ba/"><img class = "width100 "  src="imgs/systechLogo.png"  alt="SystechLogo"></a></li>
						<li class = "right-align"><a class = "disappearing-div-list linkblock" href="/sign-out">Sign out</a></li>
						<li class = "right-align"><a class = "disappearing-div-list linkblock" href="/profile">My profile</a></li>
						<div class="left-align dropdown appearing-dropdown-list">
							<button class="dropbtn dropblock" onclick="myFunction()">
								&#9776; Menu
							</button>
							<div class="dropdown-content" id="myDropdown">
							
								<a href="/profile">My profile</a>
								<a href="/sign-out">Sign out</a>
							</div>
						</div> 
					{% elseif (app.session.get('title') == 'ADMIN') %}
							<li><a class= "left-align logo-img disappearing-logo transparentbackground paddingleft16px width100" href="https://www.systech.ba/"><img class = "width100 "  src="imgs/systechLogo.png"  alt="SystechLogo"></a></li>
						<li class = "right-align"><a class = "disappearing-div-list linkblock" href="/sign-out">Sign out</a></li>
						<li class = "right-align"><a class = "disappearing-div-list linkblock" href="/application-form">Upload form</a></li>
						<li class = "right-align"><a class = "disappearing-div-list linkblock" href="/applications-list">Applications</a></li>
						<div class="left-align dropdown appearing-dropdown-list">
							<button class="dropbtn dropblock" onclick="myFunction()">
								&#9776; Menu
							</button>
							<div class="dropdown-content" id="myDropdown">
							
								<a href="/application-form">Upload form</a>
								<a href="/applications-list">Applications</a>
								<a href="/sign-out">Sign out</a>
							</div>
						</div> 
					{% elseif (app.session.get('role') == 'SUPERADMIN') %}
						<li><a class= "left-align logo-img disappearing-logo transparentbackground paddingleft16px width100" href="https://www.systech.ba/"><img class = "width100 "  src="imgs/systechLogo.png"  alt="SystechLogo"></a></li>
						<li class = "right-align"><a class = "disappearing-div-list linkblock" href="/sign-out">Sign out</a></li>
						<li class = "right-align"><a class = "disappearing-div-list linkblock" href="/application-form">Upload form</a></li>
						<li class = "right-align"><a class = "disappearing-div-list linkblock" href="/applications-list">Applications</a></li>
						<li class = "right-align"><a class = "disappearing-div-list linkblock" href="/users-list">Users</a></li>
						<div class="left-align dropdown appearing-dropdown-list">
							<button class="dropbtn dropblock" onclick="myFunction()">
								&#9776; Menu
							</button>
							<div class="dropdown-content" id="myDropdown">
							
								<a href="/application-form.php">Upload form</a>
								<a href="/applications-list.php">Applications</a>
								<a href="/users-list.php">Users</a>
								<a href="/sign-out">Sign out</a>
							</div>
						</div> 
					{% endif %}
				{% else %} 
					<li><a class= "left-align logo-img disappearing-logo transparentbackground paddingleft16px width100" href="https://www.systech.ba/"><img class = "width100"  src="imgs/systechLogo.png"  alt="SystechLogo"></a></li>
					<li class = "right-align"><a class = "disappearing-div-index linkblock" href="/"><b>SIGN IN!</b></a></li>
					<li class = "right-align"><a class = "disappearing-div-index linkblock" href="/application-form"><b>APPLY!</b></a></li>
					<div class="left-align dropdown appearing-dropdown-index">
						<button class="dropbtn dropblock" onclick="myFunction()">
							&#9776; Menu
						</button>
						<div class="dropdown-content" id="myDropdown">
							<a href="/">SIGN IN!</a>
							<a href="/application-form.php">APPLY!</a>
						</div>
					</div> 
					<br>
				{% endif %}
				{# <li><a class= "left-align logo-img disappearing-logo transparentbackground paddingleft16px width100" href="https://www.systech.ba/"><img class = "width100"  src="{{asset("imgs/systechLogo.png")}}"  alt="SystechLogo"></a></li> #}
				{# <li class = "right-align"><a class = "disappearing-div-index linkblock" href="/"><b>SIGN IN!</b></a></li> #}
				{# <li class = "right-align"><a class = "disappearing-div-index linkblock" href="/register"><b>APPLY!</b></a></li> #}
				{# <div class="left-align dropdown appearing-dropdown-index"> #}
					{# <button class="dropbtn dropblock" onclick="myFunction()"> #}
						{# &#9776; Menu #}
					{# </button> #}
					{# <div class="dropdown-content" id="myDropdown"> #}
						{# <a href="/">SIGN IN!</a> #}
						{# <a href="/register">APPLY!</a> #}
					{# </div> #}
				{# </div>  #}
				{# <br> #}
					{# {{ '<pre>' }} #}
					{# print_r(app.session) #}
					{# {{ '</pre>' }} #}
				</ul>
			</div>
			 {# {{ dump(app.session) }} #}
						